* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --searchBackgroundColor: rgba(40, 70, 75, 1);
  --bodyBackgroundColor: rgba(147, 22, 33, 1);
  --cardBackgroundColor: rgba();
  font-weight: 600;
}

body {
  background-color: var(--bodyBackgroundColor);
}

#card {
  border: 3px solid black;
  width: 550px;
  height: 700px;
  margin: 150px auto 0 auto;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 20px black;
}

#searchArea {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  border-radius: 10px 10px 0 0;
  /* margin: 300px auto 0px auto; */
  background-color: var(--searchBackgroundColor);
}

#searchBox {
  height: 35px;
  width: 150px;
}

#searchButton {
  height: 35px;
  display: grid;
  place-items: center;
}

#cardHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#currentIcon {
  position: absolute;
  height: 100px;
  width: 100px;
  left: center;
  top: -50px;
  border: 2px solid black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#location {
  width: 50%;
  text-align: center;
}

#currentDate {
  width: 50%;
  text-align: center;
}

#currentConditionsContainer {
  /* background-color: wheat; */
  height: 20%;
}

#currentTemp {
  font-size: 64px;
}

.box {
  font-size: 16px;
  padding: 5px;
}

.currentLabel {
  font-size: 8px;
}

#forecastContainer {
  margin-top: 35px;
  /* margin: 0; */
  justify-content: space-around;
  margin: 35px 5px 5px 5px;
}

.forecast {
  border: 1px solid gray;
}
